{% extends 'layout.njk' %}

{% block title %}
<link rel="stylesheet" href="/css/index.css">
{% endblock%}

{% block menu %}
    <li><a class="buttonsMenu" href="/about">Sobre</a></li>
    <li><a class="buttonsMenu" href="/recipes">Receitas</a></li>
{% endblock %}

{% block container %}
            <section class="banner">
                <div class="conteiner_about">
                    <h1>As melhores receitas</h1>
                    <p>Aprenda a construir os melhores pratos
                        com receitas criadas por profissionais
                        do mundo inteiro.</p>
                </div>
                <div class="img_chef">
                    <img src="/assets/chef.png" alt="">
                </div>
            </section>
            <section class="container_cards">
                <h1 class="colorText">Ultimas adicionadas</h1>
                <div class="cards">
                    <div class="card">
                        <img src="./assets/burger.png" alt="">
                        <h2 class="colorText">Triplo bacon</h2>
                        <p class="colorText">por Jorge amado</p>
                    </div>
                    <div class="card">
                        <img src="./assets/espaguete.png" alt="">
                        <h2 class="colorText">Triplo bacon</h2>
                        <p class="colorText">por Jorge amado</p>
                    </div>
                    <div class="card">
                        <img src="./assets/lasanha.png" alt="">
                        <h2 class="colorText">Triplo bacon</h2>
                        <p class="colorText">por Jorge amado</p>
                    </div>
                </div>
            </section>
        </main>
    {% endblock %}
